<!-- include header template-->
<% include partials/header %>
<link rel="stylesheet" href="app.css" />

<h1>This is the home page</h1>

<img src="http://dogsaholic.com/wp-content/uploads/2018/06/two-Pomsky-walking-on-a-leash-680x606.jpg"></img>
<!-- include footer template-->
<% include partials/footer %>
